/*
by changing image-blend-color, you can change the way all the images 
blend and/or change the color 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/Fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font: supports weights from 100 to 900 */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/Fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }
  
:root {
    --image-blend-color3:#61892f;
    --image-blend-color2:#86c232;
    --image-blend-color5:#222629;
    --image-blend-color:#474b4f;
    --image-blend-color1:#6b6e70;
}
body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
    padding-top: 80px;
}

body, html ,#root {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

 ul {
    list-style-type: none;
    margin: 0;
} */

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

}

.maincontent {
    flex-grow: 1; 
}

.content {
    flex: 1; 
}

.container {
    width: 100%; /* Use full width for container */
    margin: 0 auto; /* Center it horizontally */
    overflow: hidden;
}
.containerf{
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px;
}
.row1{
    display: flex;
    flex-direction: row;
}

header {
   margin: 0;
   color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

.nav{
    color: #071013;
}

.tekkbtn{
    background-color: #071013;
}

.tekkbtn:hover {
    background-color: #ed1b24;
}


#home {
    background-image:url(../Office1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    text-align: center;
}
#home1 {
    /* background-color: #DFE0E2;  */
    background-color: #FFF;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
#home1 .btn {
    display: inline-block;
    color: black;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 60px;
}

#home .btn {
    display: inline-block;
    color: black;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 60px;
}

#services, #about, #contact {
    padding: 50px 0;
    text-align: center;
}
#services{
    background-color:#6b6e70 ;
}

.service {
    background: lightblue;
    padding: 2%;
    border-radius: 20px;
}
.smallicons{
    width: auto;
    height: 50px;
    max-width: 100%;
}
footer {
    background-color: #DFE0E2;
    color: #071013;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

#navbar-container{
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;

}

#navbar{
    padding-right: 10%;
    padding-left: 20%;
}
#logo1{
    width: 100%;
    height: auto;
    object-fit: fill;
}
#logo-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
}

@media (min-width: 768px) {
  #logo-container {
    width: 10%;
    height: auto;
  }
}


.logo-container2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35%;
}
#HeroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    max-width: 100%;
}
#NYBusinessBox{
    background-color:  #5a72b8;
}

#managesecuredefend{
    background-color: rgba(236, 223, 223, 0.774);
    border-radius: 15px;
    flex: 1;
    width: auto;
    padding: 2rem;
    text-align: center;
}

.custom-bullets li{
    list-style-type: none;
    padding: 0;
    margin-bottom: 8px;
}
.custom-bullets li::before {
    content: ">";
    color: #007bff; 
    font-weight: bold;
    margin-right: 8px;
    
}
#supheaderdiv{
    background-color: var(--image-blend-color5);
    display: flex;
    justify-content: right;
    height: 2%;
    padding-right: 20%;
    
}

.supHeader a{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.boxDefault{
    width: 100%;
    height: 10%;
    background-color:var(--image-blend-color);
    color: black;
    border-radius: 40px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}
#dontworry{
    height: 6%;
}


#aboutpage {
    background-image: url(../public/About.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-color: var(--image-blend-color);
    background-blend-mode:overlay; 
    color: white;
}

.centered-heading {
    text-align: center;
    font-size: 3rem;
  }
  


.heroSection {
    padding: 5rem 0;
}

/* 
change color of HeroSection Img
*/
#home{
    background-image: url(../SolutionSection.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-color: var(--image-blend-color);
    background-blend-mode:overlay; 
    color: white;
}

#solution{
    background-color: var(--image-blend-color3);
}
#problem{
    background:var(--image-blend-color5);
    padding-bottom: 3%;
    color: white;
}

.centeredtext{
    text-align: center;
}
.card {
    width: 100%;
    height: 30%;
    background-color: rgb(184, 184, 197);
    clip-path: polygon(0% 0%, 45% 0%, 50% 10%, 55% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#card-container{
    width: 50%;
}
#card_paragraph{
    padding: 3%;
}

#img2{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.aboutUsList {
    background-color: #FFF;
    text-align: left; 
}

.aboutUsList h1 {
    text-align: center;
}

/* CONTACT STYLING */

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .contact-form {
    padding: 20px;
  }  
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box; 
  }
  
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #ff4d4d;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
  }
  
  .contact-form button {
    width: 100%;
    background: #071013;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .contact-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
  
  .contact-form .consent {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
  
  .contact-form .consent input {
    margin-right: 10px;
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing */
  }
  
  .checkbox-wrapper input {
    width: 16px;
    height: 16px;
  }