body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
    gap: 10px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    /* border-bottom: #77aaff 3px solid; */
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

#home {
    background: #2d3f63;
    color: #fff;
    padding-top: 100px;
    min-height: 400px;
    text-align: center;
}

#home .btn {
    display: inline-block;
    color: black;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 60px;
}

#services, #about, #contact {
    padding: 50px 0;
    text-align: center;
}

.service {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background: #10141f;
    color: #fff;
    text-align: center;
    /* padding: 30px 0; */
}
#logo{
    width:10%;
    height:10%;
}
#HeroContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#NYBusinessBox{
    background-color:  #5a72b8;
}
.custom-bullets li::before {
    list-style-type: none   ;
    content: ">";
    color: #007bff; 
    font-weight: bold;
    margin-right: 8px;
  }
  
.supHeader{
    background: #10141f;
    padding-top: 1px;

}
.supHeader a{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.boxDefault{
    width: 400px;
    height: 240px;
    background-color: #5a72b8;
    /* border: 2px solid #10141f; */
    color: black;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about{
    background: #2d3f63;
    color: #fff;
}
